name: Deploy to Maven Central

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          server-id: central
          server-username: GPG_USERNAME
          server-password: GPG_PASSWORD
          gpg-private-key: ${{ secrets.SETTINGS_KEY }}
          gpg-passphrase: GPG_PASSPHRASE

      - name: Publish jai-connect
        run: mvn clean deploy -Pgpg-signing -Dgpg.passphrase=${{ secrets.GPG_PASSPHRASE }}
        working-directory: jai-connect
        env:
          GPG_USERNAME: ${{ secrets.GPG_USERNAME }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
